<footer class="footer">
    <link rel="stylesheet" href="/static/footer.css">
  
    <div class="footer-content">
      <div class="footer-links">
        <a href="/privacy">What are Sitemaps</a>
        <a href="/terms">How does it work</a>
        <a href="/contact">Contact Us</a>
      </div>
      <div class="footer-copyright">
        <p>&copy; {{ current_year }} - All rights reserved by <a href="https://www.linkedin.com/in/mateo1mc" target="_blank">Mateo Çela</a>.</p>
      </div>
    </div>
  </footer>
  