<footer class="footer">
    <link rel="stylesheet" href="/static/footer.css">
  
    <div class="footer-content">
      <div class="footer-links">
        <a href="/">Home</a>
        <a href="/sitemaps">What are Sitemaps?</a>
        <a href="https://www.linkedin.com/in/mateo1mc" target="_blank">Contact Us</a>
      </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; Made with ❤️ by <a href="https://www.linkedin.com/in/mateo1mc" target="_blank">Mateo Çela</a> - {{ current_year }}</p>
    </div>
</footer>
