<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap URL Scraper</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="header-left">
            <img src="/static/mc-logo-black.png" alt="Logo" class="logo">
        </div>
        <div class="header-right">
            <button class="header-button">Settings</button>
        </div>
        <h1 class="header-title">Sitemap URL Scraper</h1>
    </header>

    <!-- Container -->
    <div class="container">
        <form id="scrapeForm">
            <label>Sitemap URL:</label><br>
            <input type="text" name="sitemap_url" required><br>

            <label>XPath Expression:</label><br>
            <input type="text" name="xpath" value=".//{http://www.sitemaps.org/schemas/sitemap/0.9}loc"><br>

            <label for="regex">Regex (Optional):</label>
            <input list="regexSuggestions" type="text" id="regex" name="regex" placeholder="Enter Regex (Optional)">
            <!-- Datalist for regex suggestions -->
            <datalist id="regexSuggestions">
                <option value="https?:\/\/[^\/]+\/.*\/product\/[^\/\s]+">
                <option value="https?:\/\/[^\/]+\/EN-CA\/[^\/\s]+">
                <option value="https?:\/\/[^\/]+.+your_word.+[^\/\s]+">
            </datalist>
        
            <button type="submit" class="submit">Scrape</button>
        </form>
    </div>

    <!-- Loading indicator (initially hidden) -->
    <div id="loadingIndicator" style="display: none;">
        <!-- Rotating GIF -->
        <img src="https://media3.giphy.com/media/KCfP7fxn1DU6SFGBhv/giphy.gif" alt="Loading...">
        <p>Scraping... Please wait...</p>
    </div>
    <!-- Extracted URLs (Preview) -->
    <div class="card" id="results" style="display: none;">  <!-- Initially hidden -->
        <h2>Extracted URLs (Preview)</h2>
        <div id="paginationControls">
            <div>
                Rows per page: 
                <select id="rowsPerPage">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <span id="totalCount">Total URLs: 0</span>
            <div id="pagination"></div>
        </div>
        <table id="urlTable"></table>
        <!-- Initially Hidden Download Buttons -->
        <button id="downloadCsv" class="downloadbutton" style="display:none;">Download CSV</button>
        <button id="downloadExcel" class="downloadbutton" style="display:none;">Download Excel</button>
        <button id="downloadPdf" class="downloadbutton" style="display:none;">Download PDF</button>
    </div>

    <script src="/static/scraper.js"></script>
</body>
</html>
